/**
* description this is  3d tag
*author xuchangui
*/
#cloud-tag {position:relative; background: #272727; height:300px; }
#cloud-tag a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#fff; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#cloud-tag a:hover {border: 1px solid #eee; background: #ccc; }
#cloud-tag .blue {color:blue;}
#cloud-tag .red {color:red;}
#cloud-tag .yellow {color:yellow;}
