/**/
/*@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);*/
/* 'Signika', sans-serif */

@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";

input {
	outline:  none !important;
}


.socials1 {
	margin-top: 19px;
	padding-top: 24px;
	border-top: 2px solid #2aae96;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.socials1 a {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 31px;
	height: 31px;
	background: url(../images/soc1.png) 0 0 no-repeat;
}

.socials1 a:hover {
	opacity: 0.5;
}

.socials1 a+a {
	width: 32px;
	margin-left: 8px;
	background-position: -39px 0;
}

.socials1 a+a+a {
	background-position: -79px 0;
}

.socials1 a+a+a+a {
	background-position: right 0;
}